*{
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
     text-decoration: none;
    scroll-behavior: smooth;
 }
body{
    background-color: #07011f;
     position: relative;
     overflow-x: hidden;
}
.header{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: sticky;
    top: 0%;
    background-color: black;
    z-index: 1000;
}
.logo{
    margin: 2rem;
    color: rgb(194, 154, 233);
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
}
.navbar{
    display: grid;
    grid-template-columns:   auto auto auto auto auto;
    position: absolute;
right: 9%; 
margin-top : 2rem;
z-index: 999;

/* flex-wrap: nowrap; */

}
.navbar a{
    text-decoration: none;
    /* margin-left:2%; */
    margin-left:1.3rem;
}
.navbar a:active,a:hover {
    color: rgb(24, 74, 117);
}
 #menu_icon img{
  width:5%;
  /* height: 5%; */
  margin-top : 1.5rem;
  position: absolute;
  right: 10px;
  
}
.menu_icon{
  display: none;
}

.disappear{
  display: none;
}
 
.cool{
   
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgb(31, 29, 33);
  list-style-type: none;
  color: rgb(35, 21, 65);
  /* max-height: 60%; */

  
}

.home_sci{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 margin: 5rem;
}

.home_sci a img{
  width: 50%;
}

.home-content{
   margin-left: 3rem; 
   max-width: 45%;
}
.home-content h1{
font-size: 2rem;
margin-top: 5rem;
margin-bottom: 4rem;
}
.text-animate h3{
    font-size: 1.4rem;
    color: rgb(178, 178, 215);
}
.home>.btn-box {
    border: 0px solid;
    margin: 3rem;
    background-color: rgb(112, 112, 162);
    padding:4px;
   
    border-radius: 7px;
    max-width: fit-content;
}
.btn-box a{
    text-decoration: none;

}
 
.about{
  background-color: rgb(29, 28, 54);
  margin-bottom: 3rem;
  padding-bottom: 3rem;

}
.about>.heading{
  font-size: 2rem;
  text-align: center;
}
.about>.heading >span{
  color: blueviolet;
}
.btn{
  border: 0px solid;
  margin: 3rem;
  background-color: rgb(112, 112, 162);
  padding:4px;
 
  border-radius: 7px;
  max-width: fit-content;
}
 #shrewd{
 margin-left: 30%;
  width: 35%;
  height: fit-content;
  border-radius: 50%;
 }
 
.about-content {
  text-align: center;
}
.about-content h3 {
  display: inline-block;
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1rem;
  margin:  3rem;
}
.btn-box{
  color: white;
  margin: auto;
  
   transition-duration: 1s;
}
.btn-box:hover{
  background-color: rgb(29, 28, 54);
  border: 1px solid white;
}
.grp{
  display: flex;
  justify-content: center; 
   align-items: center; 
  flex-direction: row;
  flex-wrap: wrap;
}
 .bar{
  /* position: relative; */
  /* box-sizing: border-box; */
  height: 1rem;
  border: 2px rgb(106, 107, 163) solid;
  border-radius: 6px;
  width: 100%;
  
 }
 .skills-column{
  border: 0px blue solid;
  margin: 4rem;
  width:40%;
 }
.ht {
  /* position: absolute; */
  height: 1rem;
  width: 90%;
  text-align: center;
  background-color: rgb(115, 83, 158);
 }
.skills>.heading{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.skills>.heading span{
  color: rgb(48, 48, 156);
}
.skills div>.title{
  margin: 1.5rem;
  text-align: center;
}
.css {
  /* position: absolute; */
  height: 1rem;
  width: 80%;
  text-align: center;
  background-color: rgb(115, 83, 158);
 }
 .js{
  /* position: absolute; */
  height: 1rem;
  width: 90%;
  background-color: rgb(115, 83, 158);
  text-align: center;
 }
 .py{
  /* position: absolute; */
  height: 1rem;
  width: 20%;
  background-color: rgb(115, 83, 158);
  text-align: center;
 }
 .WG{
    height: 1rem;
  width: 90%;
  background-color: rgb(115, 83, 158);
  text-align: center;
 }
 .WD{
    height: 1rem;
  width: 70%;
  background-color: rgb(115, 83, 158);
  text-align: center;
 }
 .GD{
    height: 1rem;
  width: 20%;
  background-color: rgb(115, 83, 158);
  text-align: center;
 }

 .CO{
  height: 1rem;
width: 90%;
background-color: rgb(115, 83, 158);
text-align: center;
}
.TM{
  height: 1rem;
width: 80%;
background-color: rgb(115, 83, 158);
text-align: center;
}
.CB{
  height: 1rem;
width: 70%;
background-color: rgb(115, 83, 158);
text-align: center;
}
.AT{
  height: 1rem;
width: 60%;
background-color: rgb(115, 83, 158);
text-align: center;
}
.portfolio-box{
  display: flex;
  justify-content: center;
  align-items: center;

}
.portfolio-layer{
 max-width: 40%;
  box-shadow: 4px 4px 8px black;
  margin: 1rem;
}
.portfolio-layer h3{
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(101, 80, 101);
  }
  .portfolio-layer a{
    text-decoration: none;
  }

.portfolio-box img{
   width: 20%;
   height: 20%;
  margin: 1rem;
  border-radius: 10px;
}
.portfolio>.heading{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.portfolio>.heading span{
  color: rgb(48, 48, 156);
}
/* form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
} */
.input-box{
  display: flex;
  justify-content: center;
  align-items: center;
 
  flex-wrap: wrap;
}
 
.input-field{
  margin: 4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  
}
.input-field>input{
  width: 150%;
  height: 2rem;
  padding: 3px;
  border-radius: 7px;
  color:black;

  }
 
.contact>.heading{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.contact>.heading span{
  color: rgb(48, 48, 156);
}
.textarea-field{
 /* position: absolute; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  /* background-color: rgb(54, 29, 111); */
}
input[type='submit']{
  color: red;
  padding: 3px;
  
}
#massage{
  padding: 3px;
  margin:2rem ;
  border-radius: 7px;
}
#sub{
  margin: 1rem;
  border-radius: 7px;

}
#sub:hover{
  cursor: pointer;

}